/* 학교안심 우주 폰트 삽입 */
@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
iframe,
body,
h1,
h2,
h3,
h4,
p,
button,
fieldset,
legend,
ul, ol, li{
  margin: 0;
  padding: 0;
  border: 0px;
  font-family: "HakgyoansimWoojuR";
}


