/* 결과창 css */
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: SUITE-Regular;
}

div.result-page {
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
    font-family: 'SUITE-Regular';
    padding-bottom: 450px;
}


div.GPTresult-food, div.GPTresult-Ingredients  {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;  
    padding-top: 20px;
}

div.GPTresult-Ingredients {
    margin-bottom: 20px;
}
textarea {
    font-size: 30px;
    width:80%;
    min-width: 400px;
    height: 55%;
    min-height: 300px;
    resize: none;

    background-attachment: local;
    background-image:
      linear-gradient(to right, white 40px, transparent 40px),
      linear-gradient(to left, white 40px, transparent 40px),
      repeating-linear-gradient(white, white 40px, #ccc 40px, #ccc 42px, white 42px);
    line-height: 42px;
    padding: 3px 40px;
    border-radius: 20px;
    
}

input.retry {
    width:80vw;
    height: 95px;
    border-radius:15px;
    font-size: 30px;
    box-sizing: border-box;
    transition: 0.3s;
    margin-top: 30px;
    color: white;
    background-color: rgb(112, 112, 230);
}

input.retry:enabled {
    cursor: pointer;
  }

input.retry:hover {
    transform: scale(1.00);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}